<!doctype html>
<html lang="fr" data-theme="">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/monospace.css">
</head>
<body>

  <header>
    <a href="/" class="site-name">{{ metas.site }}</a>
    <nav aria-label="Navigation principale">
      <!--<ul>
        <li><a href="#about">À propos</a></li>
        <li><a href="#now">En ce moment</a></li>
        <li><a href="#projects">Projets</a></li>
        <li><a href="#writing">Écrits</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>-->
    </nav>
  </header>

  <main id="main">

    {{ content }}

  </main>

  <footer>
    <p>© <span id="y"></span> {{ author }} — site personnel. Last update {{ date.toLocaleString() }} </p>
  </footer>

  <script>
    document.getElementById('y').textContent = new Date().getFullYear();
  </script>
</body>
</html>