---
layout: layouts/landing.vto
title: 
description: description
---

# home

## /now

{{ include "./now.md" |> split('\n') |> slice(1) |> join('\n') }}

## /about

{{ include "./about.md" |> split('\n') |> slice(1) |> join('\n') }}
