@import url('/css/reset.css');
@import url('/css/alert.css');
@import url('/css/container.css');
@import url('/css/vars.css');

* { 
  box-sizing:border-box;
}
html,body {
  margin:0;
  /* height:100%; */
}
body {
  font: 16px/1.6 var(--font); 
  color:var(--text); 
  background:var(--bg);

  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
a {
  color:var(--link); 
  text-decoration: none;
}
a:hover{ 
  text-decoration: underline; 
}
header, main, footer{ 
  width:min(100% - 2rem, var(--max)); 
  margin-inline:auto; 
}
header{ 
  display:flex; 
  flex-wrap:wrap; 
  align-items:center; 
  gap:1rem; 
  padding:1rem 0; 
}
.site-name{ 
  font-weight: normal;
  /* font-weight:700;  */
  /* letter-spacing:.2px;  */
}
nav ul{ 
  list-style:none; 
  display:flex; 
  gap:1rem; 
  padding:0; 
  margin:0; 
}
.lead{ 
  color:var(--muted); 
}
h1{ 
  font-size: 1rem;
  /*font-size: clamp(1.8rem, 1.2rem + 2vw, 2.4rem); */
  margin:1rem 0 1rem; 
  font-weight:normal; 
  /* font-weight:700;  */
}
h1::before {
  content: "# ";
}
h2{ 
  font-size: 1rem;
  /* font-size: clamp(1.2rem, 1rem + 1vw, 1.6rem);  */
  margin:1rem 0 1rem;
  font-weight:normal; 
  /* font-weight:500;  */
}
h2::before {
  content: "## ";
}
p, ul{ 
  margin: 1rem 0; 
}
ul{
  padding-left:0rem; 
  list-style-type: none;
}
ul li::before {
  content: "- "; 
}
blockquote.manifeste{
  border-left:4px solid var(--link); padding:.8rem 1rem; margin:1rem 0;
  background: color-mix(in oklab, var(--link) 12%, var(--bg)); border-radius:0 .6rem .6rem 0;
}

.hint{ color:var(--muted); font-size:.95rem; }
footer {
  margin-top: auto;
}
footer > p { 
  /* border-top:1px solid var(--border);  */
  /* margin-top:3rem;  */
  /* padding:1rem 0;  */
  margin: 0;
  color:var(--muted); 
}
footer::before {
  content: "___";
  color:var(--muted); 
}
:focus-visible{ outline:2px solid var(--link); outline-offset:2px; }
